<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='top-half'>
      <div class='box a-col'>
        <table>
          <th>Specification</th>
          <th>Hero</th>
          <tr>
            <td>True Random</td>
            <td class='true-random-field'><%= @heroes.random.h_name%></td>
            <td>
                <button class='true-random-button'></button>
            </td>
          </tr>
          <tr>
            <td>Warrior</td>
            <td class='warrior-field'><%= @heroes.tank.h_name%></td>
            <td>
              <button class='warrior-button'></button>
            </td>
          </tr>
          <tr>
            <td>Specialist</td>
            <td class='specialist-field'><%= @heroes.spec.h_name%></td>
            <td>
              <button class='specialist-button'></button>
            </td>
          </tr>
          <tr>
            <td>Support</td>
            <td class='support-field'><%= @heroes.sup.h_name%></td>
            <td>
              <button class='support-button'></button>
            </td>
          </tr>
          <tr>
            <td>Assassin</td>
            <td class='assassin-field'><%= @heroes.assn.h_name%></td>
            <td>
              <button class='assassin-button'></button>
            </td>
          </tr>
          <tr>
            <td>Warcraft</td>
            <td class='warcraft-field'><%= @heroes.wc.h_name%></td>
            <td>
              <button class='warcraft-button'></button>
            </td>
          </tr>
          <tr>
            <td>StarCraft</td>
            <td class='starcraft-field'><%= @heroes.sc.h_name%></td>
            <td>
              <button class='starcraft-button'></button>
            </td>
          </tr>
          <tr>
            <td>Diablo</td>
            <td class='diablo-field'><%= @heroes.dibs.h_name%></td>
            <td>
              <button class='diablo-button'></button>
            </td>
          </tr>
          <tr>
            <td>Overwatch</td>
            <td class='overwatch-field'><%= @heroes.ow.h_name%></td>
            <td>
              <button class='overwatch-button'></button>
            </td>
          </tr>
          <tr>
            <td>Blizzard (Always TLV)</td>
            <td class='blizzard-field'><%= @heroes.blizz.h_name%></td>
            <td>
              <button class='blizzard-button'></button>
            </td>
          </tr>
        </table>
      </div>
      <div class='box b-col'>
        <div class= 'box'>
          <%= image_tag("IconTank.png",  class: "Warrior class-icon", width: "100") %>
          <%= image_tag("IconSpecialist.png", class: "Specialist class-icon", width: "100") %>
          <%= image_tag("IconSupport.png", class: "Support class-icon", width: "100") %>
          <%= image_tag("IconAssassin.png", class: "Assassin class-icon", width: "90") %>
        </div>
        <div class= 'box'>
          <%= image_tag("IconBlizzard.png",  class: "Blizzard game-icon", width: "100") %>
          <%= image_tag("IconDiablo.png",  class: "Diablo game-icon", width: "100") %>
          <%= image_tag("IconStarcraft.png", class: "StarCraft game-icon", width: "100") %>
          <%= image_tag("IconWarcraft.png", class: "Warcraft game-icon", width: "100") %>
          <%= image_tag("IconOverwatch.png", class: "Overwatch game-icon", width: "100") %>
        </div>
        <div class='box just-center'>
          <button class='pick-btn'>Pick</button>
        </div>
      </div>
    </div>
    <!-- <div class='bot-half'>
      <div class='box'>
        <h4>Owned Heroes:</h4>
        <table class='full-metal' hidden='true'>
        </table>
      </div>
      
    </div> -->
  </body>
  
    
</html>




