<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <div>
        True Random: <%= @heroes.random.h_name %>
      </div>
      <div>
        Tank: <%= @heroes.tank.h_name %>
      </div>
      <div>
        Specialist: <%= @heroes.spec.h_name %>
      </div>
      <div>
        Support: <%= @heroes.sup.h_name %>
      </div>
      <div>
        Assassin: <%= @heroes.assn.h_name %>
      </div>
      <div>
        Warcraft: <%= @heroes.wc.h_name %>
      </div>
      <div>
        StarCraft: <%= @heroes.sc.h_name %>
      </div>
      <div>
        Diablo: <%= @heroes.dibs.h_name %>
      </div>
      <div>
        Overwatch: <%= @heroes.ow.h_name %>
      </div>
      <div>
        Blizzard (Always TLV): <%= @heroes.blizz.h_name %>
      </div>
    </div>
  </body>
</html>




